<section class="menu-home">
    <h1>Our Menu</h1>
    <p>Explore our full menu</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <img src="assets/icons/nav-arrow.svg" alt="">
            <li>our menu</li>
        </ul>
    </nav>
    <a href="#{{jsFile}}-more" class="scroll-down"><img src="assets/icons/down-arrow.svg" alt="scroll-down"></a>
</section>

<section class="menu-more" id="menu-more">
    <h1 class="heading">Our full menu <span>have you tried?</span></h1>

    <div class="menu-fullmenu">

        {{#each menuItems}}
        <div class="menu-content">
            <img src="assets/images/{{image}}.svg" alt="{{image}}">
            <div class="info">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
            </div>
            <h3 class="price-tag">₹{{price}}</h3>
        </div>
        {{/each}}

    </div>
</section>

